<!DOCTYPE html>
<html>

<head>
    <title>
        Tweetify
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/indexejs.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Shadows+Into+Light&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">

</head>

<body>
    <div class="login">
        <div class="wrapper">
            <h1 className='login_title shadows-into light-regular'>Login To post your tweets</h1>
            <div class="username_container">
            </div>

            <div class="center">
                <!-- <div class="line" />
        <div class="or"></div> -->
            </div>
            <div class="right ">
                <div class="title_container">
                    <img src="./images/login.jpg">
                </div>
                <div class="idx_div">
                    <form action="/home" method="post">
                        Username : <input type="text" name="username" class="input_login" id="username">
                        <br>
                        <br>
                        Password : <input type="password" name="password" class="input_login" id="password">
                        <br>
                        <br>
                        <button class="submit submit-btn color-blue">Login</button>
                    </form>
                    <div class="create_btn">
                    <button class="submit submit-btn color-blue">
                        <a href="/account" class="signup-link">Create Account</a>
                    </button>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>